<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
		crossorigin="anonymous">
		<style>
			.jumbotron-fluid {
				padding-right: 0;
				padding-left: 0;
				border-radius: 0;
			}

			.jumbotron {
				padding: 2rem 1rem;
				margin-bottom: 2rem;
				background-color: #e9ecef;
				border-radius: .3rem;
			}
		</style>
		<title>SimpleEdit Config</title>
	</head>
	<body class="bg-primary">
		<!-- Image and text -->
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="https://raw.githubusercontent.com/SimpleEdit/editor/main/views/Logo.png" alt="SimpleEdit logo" height="30" class="d-inline-block align-top">
						SimpleEdit
					</a>
				</div>
			</nav>
			<div class="card bg-dark text-white">
				<div class="card-overlay center bg-secondary jumbotron" style="background-image: url('https://raw.githubusercontent.com/SimpleEdit/editor/main/views/Website%20Cover%20Image.png');color:white;">
					<br><br>
					<h1 class="card-title">SimpleEdit</h1>
					<p class="card-text">Geometry Dash Editing. Refined.</p>
					<br><br>
				</div>
			</div>
			<hr>
			<div class="card bg-secondary" style="color:white;">
				<h2>Configure SimpleEdit</h2>
				<!-- form will go here -->
				<form>name="updateSettingsForm" action="<!-- action will go here -->" method="post"
			<input name="settingName" type="text">	
			<input name="setToValue" type="text">
			</form>
		</div>
			</div>
			<hr style="color:white;">
			<!-- Bootstrap JS with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	</body>
</html>
